<h1>Editing continent</h1>

<% form_for(@continent) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @continent %> |
<%= link_to 'Back', continents_path %>