<h1>Listing continents</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @continents.each do |continent| %>
  <tr>
    <td><%=h continent.name %></td>
    <td><%= link_to 'Show', continent %></td>
    <td><%= link_to 'Edit', edit_continent_path(continent) %></td>
    <td><%= link_to 'Destroy', continent, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New continent', new_continent_path %>