<% form_for(@product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    
    <%= f.hidden_field :category_id  %>
    <%= f.label :category_name   %><br />
    <%= text_field_with_auto_complete :product, :category_name,{:size => 15},{:after_update_element => "function (e, u){ updateProduct(e);}", :url => formatted_categories_path(:js), :method => :get, :with => "'search=' + element.value" } %>

    <br/>
 

  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>