<p>
  <b>Name:</b>
  <%=h @task.name %>
</p>

<p>
  <b>Note:</b>
  <%=h @task.note %>
</p>

<p>
  <b>Priority:</b>
  <%=h @task.priority %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>